* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;

}


body {
    overflow-x: hidden;
    color: #615958;
    background: #fff;
    /* background: linear-gradient(to right top, #d16bc4, #a88eee, #70abff, #3bc3ff, #41d5f3, #45e0e9, #5fe9d9, #82f1c8, #8ef7b3, #a5fb99, #c4fc7c, #e7fb5f); */
    background: #f8f8f8;
    transition: all 0.3s ease;
}