.Auth {
    width: 100vw;
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Auth__inner {
    min-width: 400px;
    padding: 10px;
    padding-bottom: 20px;
    max-width: 800px;
    min-height: fit-content;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    -webkit-box-shadow: 4px 4px 13px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 13px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 13px 3px rgba(34, 60, 80, 0.2);
}

.Auth__header {
    width: 90%;
    border-bottom: 1px solid #00000021;
}

.Auth__header h1 {
    text-align: center;
    padding-bottom: 10px;
}

.Auth__form {
    padding-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}