.Board {
    display: flex;
}

.Board__inner {
    width: calc(100vw - 250px);
    background: #ffaa0021;
    padding: 10px;

    width: fit-content;
    overflow-x: scroll;
}

.Board__lists {
    display: flex;
    gap: 20px;
}